<h1>Sign In Page</h1>
<p>Please choose which account you want to sign in below</p>
<%= link_to "Admin", new_admin_session_path, method: :get, class: "btn btn-primary" %>
<%= link_to "Student", new_student_session_path, method: :get, class: "btn btn-primary" %>