<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Library Management System</h1>
<p>
  Your book request is successful.
</p>
<p>Have a great day!</p>
</body>
</html>