<p id="notice"><%= notice %></p>

<p>
  <strong>University Name:</strong>
  <h2 class="display-1"><%= @university.name %></h2>
</p>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
