<div class="container" style="padding: 0 0 0 0 ">
  <br>
  <footer class="footer">
    <small>
      NC State CSC/ECE 517 <a href="https://www.csc2.ncsu.edu/faculty/efg/517/f19/assignments">Programme 2</a> by
      qwang20, rwu5, yzhu48 <a style="float: right" href="https://www.google.com">Source Code</a>
    </small>
  </footer>
</div>