<div class="col-lg-3">
  <div class="well sidebar-nav" style="padding: 0 18px 5px 18px">
    <h3>Sidebar</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Show all students", students_path, method: :get %></li>
      <li><%= link_to "Link2", "/path2" %></li>
      <li><%= link_to "Link3", "/path3" %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->